# Git
.git
.gitignore

# CI/CD
.github
.gitlab-ci.yml

# Documentation
*.md
docs/

# Environment variables
.env
.env.*
!.env.example

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Testing
coverage
.nyc_output

# Dependencies
node_modules
dist
.pnpm-store
